<!DOCTYPE html>
<html lang="en">
  <title> Patient Medical Data Collector App</title>
  <style type="text/css">
    body{
      background-image: url(health.jpg);
      background-attachment: cover;
      background-attachment: fixed;
    }
  </style>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <h1>Patient Medical Data</h1>
        <h1>to get a better service from Medical Providers</h1>
        <div class="email"> {{text | safe}} </div>
        <form action="{{url_for('success')}}" method="POST">
          <br>
          <input title="Your data will be safe with us" placeholder="Enter your name" type="text" name="Name" required> 
          <input title="Your data will be safe with us" placeholder="Enter your ID" type="number"name="index" required>
          <input title="Your email will be safe with us" placeholder="Enter your email address" type="email" name="Email" required>
          <input title="Your data will be safe with us" placeholder="Enter your Blood Pressre" type="number" min="50", max="250"name="Blood_Pressure" required>
          <input title="Your data will be safe with us" placeholder="Enter your Blood Glucose Level" type="number" min="50", max="600"name="Blood_Glucose" required>
          <input title="Your data will be safe with us" placeholder="Enter your Height in cm" type="number" min="50", max="300"name="Height" required>
          <input title="Your data will be safe with us" placeholder="Enter your Weight in KG" type="number" min="1", max="500" name="Weight"required>
          <input title="Your data will be safe with us" placeholder="Enter your Body Temprature in celius" type="number" min="25", max="45" name="Body_Temp"required>
          <input title="Your data will be safe with us" placeholder="Enter your Medications History" type="text"name="Medications_History"required>
          <input title="Your data will be safe with us" placeholder="Enter your Diseases History" type="text" name="Diseases_History"required>
          <input title="Your data will be safe with us" placeholder="Enter your Notes" type="text"name="Notes" required> <br>
          <button type="submit"> Submit </button>

        </form>
      </div>
    </body>
</html>
